@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2>Hakkımızda Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Hakkımızda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.AboutID</td>
            <td>@x.AboutDetails1</td>
            @if (x.AboutStatus == true)
            {
                <td class="text-info">Aktif</td>
                <td><a href="/About/DurumDegistir/@x.AboutID" class="btn btn-primary">Pasif Yap</a></td>
            }
            else
            {
                <td><a href="/About/DurumDegistir/@x.AboutID" class="btn btn-primary">Aktif Yap</a></td>
                <td class="text-danger">Pasif</td>
            }


        </tr>
    }
</table>

@Html.Action("AboutPartial")