@using EntityLayer.Dtos
@model List<ContentDto>
@{
    ViewBag.Title = "ContentByHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

@using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post)) { 
    <p>
        Aranacak Kelimeyi Girin: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

@foreach (var item in Model)
{
    <p>@item.ContentValue</p>
}
